In [6]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

- string = 평행구조
- 그냥 문자열로 이해했음
- : 를 통한 다양한 문자열 생성 가능
- 주의: [a:b]에서 문자열은 a~b-1까지. 반드시 뒷 숫자(b)에서 하나를 빼줄 것.

In [11]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [12]:
len(s)

6

In [17]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

- (+) 단순하게 붙이기 / (*) 단순 반복

In [18]:
s.upper()

'ABCDEF'

## s.upper()
- capitatlizing
- class 의 일종임

In [1]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

In [3]:
len(s)

34

In [21]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

## s.find('a')
- string에서 'a'가 몇번째에 위치하는지 찾아라
- 'a'가 발견된 최초 지점의 위치를 표시.

In [2]:
s.find('house')

11

Q. 왜 굳이 result 값을 붙이는가? => 이 값을 활용할 때 result로 대체할 수 있기 때문?

In [4]:
result = s.find('year')
result

28

In [22]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [23]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

## s.rindex('a')
- string에서 'a'가 어디에 위치하는지 찾아라
- 단, 'a'가 발견된 최후의 지점의 위치를 표시.
- e.g) 'this'에 경우에는 's'가 위치한 지점

In [6]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

## s.strip()
- 불필요한 애들 삭제

In [7]:
s.strip()

'this is a house built this year.'

- 주의: [6] 은 s= 를 넣음으로써 s의 값이 재할당됨.
        [7] 은 s의 값이 재할당되지 않음.

In [27]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

## s.split(' ')
- string을 쪼개라
- 일반적으로 띄어쓰기로 쪼개짐
- 'tokens'라고 임의적으로 받은 것.

In [8]:
s= 'there is a cat'

In [10]:
s.split('a')

['there is ', ' c', 't']

- 참고: 'a' 기준으로 string이 쪼개졌음.

In [28]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

## ' '.join(a)
- ' '의 단위로 split된 애들을 다시 하나로 묶어라
- 주의:  ' '. 자체도 하나의 class / s. 와 같음

In [29]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'

## s.replace('a','b')
- string 속의 'a'를 'b'로 교체하라

### 주의할 것: s= 를 통해 값을 재할당하기. s의 재할당값을 이후로도 사용할거면 반드시 s= 을 붙일 것.